body {
    background-color: rgb(2,0,36);
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(245, 245, 222);
}

main {
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;

}

.section1 {
    background-color: rgba(255,255,255,0.4);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

button {
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.section2 {
    background-color: rgba(255,255,255,0.4);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px;
}

.estadisticas {
    border: 1px solid #fff;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(128, 192, 34);
}

img {
    width: 80%;
}

footer p {
    font-size: 20px;
}